.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: grey;
    margin-bottom: 20px;
}

.head-line button{
    width: 150px;
    height: 38px;
    margin-left: 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.item{
    width: 50vw;
    margin-bottom: 10px;
    background-color: aqua;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
}

.title{
    overflow: hidden;
    margin-bottom: 10px;
}

.title h3{
    float: left;
    margin: 0;
}

.title span{
    font-size: 1.5rem;
    font-weight: bolder;
    float: right;
    margin-left: 10px;
}

.answer{
    margin-right: 10px;
}
